USE [master]
GO
/****** Object:  Database [DbQuanLyKhoBai]    Script Date: 12/11/2023 17:42:01 ******/
CREATE DATABASE [DbQuanLyKhoBai]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbQuanLyKhoBai', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SA\MSSQL\DATA\DbQuanLyKhoBai.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbQuanLyKhoBai_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SA\MSSQL\DATA\DbQuanLyKhoBai_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbQuanLyKhoBai].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbQuanLyKhoBai]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/11/2023 17:42:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichDatTramEntities]    Script Date: 12/11/2023 17:42:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichDatTramEntities](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Tram] [bigint] NOT NULL,
	[TenTaiXe] [nvarchar](max) NULL,
	[BienSoXe] [nvarchar](max) NULL,
	[ThoiGianDen] [datetime] NOT NULL,
	[ThoiGianDi] [datetime] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_dbo.LichDatTramEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungEntities]    Script Date: 12/11/2023 17:42:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungEntities](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](250) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[TenDangNhap] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[ChucVu] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_dbo.NguoiDungEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TramEntities]    Script Date: 12/11/2023 17:42:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TramEntities](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](250) NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[KhuVuc] [int] NOT NULL,
	[SoLuongXe] [float] NOT NULL,
	[NguoiQuanLy] [bigint] NOT NULL,
	[ThoiGianMoCua] [datetime] NOT NULL,
	[ThoiGianDongCua] [datetime] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_dbo.TramEntities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LichDatTramEntities] ON 

INSERT [dbo].[LichDatTramEntities] ([Id], [Tram], [TenTaiXe], [BienSoXe], [ThoiGianDen], [ThoiGianDi], [NgayTao], [NgayCapNhat]) VALUES (1, 1, N'AA', N'vn1111', CAST(N'2023-11-12T16:56:23.850' AS DateTime), CAST(N'2023-11-12T16:56:23.833' AS DateTime), CAST(N'2023-11-12T16:56:34.597' AS DateTime), NULL)
INSERT [dbo].[LichDatTramEntities] ([Id], [Tram], [TenTaiXe], [BienSoXe], [ThoiGianDen], [ThoiGianDi], [NgayTao], [NgayCapNhat]) VALUES (2, 1, N'BBB66666', N'887654', CAST(N'2023-11-12T16:56:23.000' AS DateTime), CAST(N'2023-11-12T16:56:23.000' AS DateTime), CAST(N'2023-11-12T16:56:55.987' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[LichDatTramEntities] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungEntities] ON 

INSERT [dbo].[NguoiDungEntities] ([Id], [Ten], [NgaySinh], [Email], [TenDangNhap], [MatKhau], [SDT], [DiaChi], [ChucVu], [NgayTao], [NgayCapNhat]) VALUES (1, N'admin', CAST(N'2023-10-10T00:00:00.000' AS DateTime), N'admin@gmail.com', N'admin', N'123', N'0987654321', N'VN', 1, CAST(N'2023-10-10T00:00:00.000' AS DateTime), CAST(N'2023-10-10T00:00:00.000' AS DateTime))
INSERT [dbo].[NguoiDungEntities] ([Id], [Ten], [NgaySinh], [Email], [TenDangNhap], [MatKhau], [SDT], [DiaChi], [ChucVu], [NgayTao], [NgayCapNhat]) VALUES (2, N'test', CAST(N'2023-11-24T14:35:55.000' AS DateTime), N'test@gmail.com', N'test', N'123', N'098765432', N'VN', 2, CAST(N'2023-11-12T14:38:20.890' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[NguoiDungEntities] OFF
GO
SET IDENTITY_INSERT [dbo].[TramEntities] ON 

INSERT [dbo].[TramEntities] ([Id], [Ten], [HinhAnh], [KhuVuc], [SoLuongXe], [NguoiQuanLy], [ThoiGianMoCua], [ThoiGianDongCua], [NgayTao], [NgayCapNhat]) VALUES (1, N'Hà Nội 2', NULL, 2, 9, 2, CAST(N'2023-11-12T15:40:07.000' AS DateTime), CAST(N'2023-11-12T15:40:07.000' AS DateTime), CAST(N'2023-11-12T15:40:15.403' AS DateTime), NULL)
INSERT [dbo].[TramEntities] ([Id], [Ten], [HinhAnh], [KhuVuc], [SoLuongXe], [NguoiQuanLy], [ThoiGianMoCua], [ThoiGianDongCua], [NgayTao], [NgayCapNhat]) VALUES (2, N'thử đức', NULL, 2, 9, 2, CAST(N'2023-11-12T15:40:07.000' AS DateTime), CAST(N'2023-11-12T15:40:07.000' AS DateTime), CAST(N'2023-11-12T17:29:56.093' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TramEntities] OFF
GO
USE [master]
GO
